<head>
  <link href='https://fonts.googleapis.com/css?family=Lato:400,900,700,300,100' rel='stylesheet' type='text/css'>
  <script type="text/javascript" src="http://widget.cloudinary.com/global/all.js"></script>
  <script type="text/javascript">
    window.currentUserId = <%= current_user ? current_user.id : -1 %>;
  </script>
</head>

<body>
  <content id="root"></content>
</body>
