$border-color: rgb(200, 200, 200);
$content-bg-color: rgb(250, 250, 250);

.fundraiser {
  font-family: 'Lato', sans-serif;
  position: relative;
  top: 18px;

  h1 {
    font-size: 36px;
    font-weight: 900;
    margin-bottom: 10px;
    text-align: center;
    width: 100%;
  }

  img {
    border: 1px solid $border-color;
    object-fit: cover;
    overflow: hidden;
    width: 100%;
  }

  .description {
    background-color: $content-bg-color;
    border: 1px solid $border-color;
    border-radius: 5px;
    box-shadow: 1px 1px 3px $border-color;
    display: block;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.5;
    padding: 10px;
    text-indent: 12px;
    white-space: pre-wrap;
    word-wrap: break-word;
  }

  .main {
    box-sizing: border-box;
    float: left;
    padding: 10px;
    width: 60%;
  }
}
