$button-bg-color: rgb(117, 242, 186);
$button-border-color: rgb(182, 227, 201);
$button-hover-bg-color: rgb(127, 252, 196);
$button-text-color: rgb(250, 250, 250);
$form-border-color: rgb(80, 80, 80);
$border-color: rgb(200, 200, 200);

.form {
  display: block;
  font-family: "Lato", sans-serif;
  height: auto;
  margin: auto;
  width: 280px;

  h1 {
    font-size: 36px;
    font-weight: 900;
    padding-bottom: 10px;
  }

  input:not(.submit):not([type="checkbox"]) {
    border: 1px solid $border-color;
    border-radius: 5px;
    box-shadow: 1px 1px 1px inset;
    box-sizing: border-box;
    display: inline-block;
    font-weight: 300;
    margin-bottom: 20px;
    padding: 10px;
    width: inherit;
  }

  .category-label {
    box-sizing: border-box;
    margin-bottom: 30px;
    padding: 10px 0;
    width: 80px;
  }

  textarea {
    border: 1px solid $border-color;
    border-radius: 5px;
    box-shadow: 1px 1px 1px inset;
    box-sizing: border-box;
    font-weight: 300;
    height: 100px;
    margin: 20px 0;
    padding: 10px;
    width: inherit;
  }

  label {
    display: inline-block;
    height: 30px;
    width: 90px;
  }

  .long-label {
    height: auto;
    width: auto;
  }

  .guest-login {
    float: right;
  }
}
