.upload {
  display: block;
  margin-bottom: 1px;
  width: inherit;


  img {
    display: inline-block;
    float: right;
    padding: 10px;
  }
}

#goal_amount {
  width: 70%;
}

.form .CareCoins {
  float: right;
  height: auto;
  padding-top: 10px;
  width: auto;
}
