@import 'bourbon';

$border-color: rgb(200, 200, 200);
$button-border-color: rgb(182, 227, 201);
$search-bar-bg-color: rgba(189, 226, 252, 0.25);

.index {
  font-family: 'Lato', sans-serif;
  margin: 0 auto;
  text-align: center;
  width: 99%;

  .tagline {
    box-sizing: border-box;
    display: block;
    font-size: 48px;
    font-weight: 900;
    margin-left: 25%;
    margin-right: 25%;
    padding: 24px 0;
  }

  .search-bar-wrapper {
    display: block;
  }

  .search-bar {
    background-color: $search-bar-bg-color;
    border: 1px solid $border-color;
    border-radius: 5px;
    box-shadow: 1px 1px 2px inset;
    box-sizing: border-box;
    display: inline-block;
    font-size: 48px;
    font-weight: 300;
    margin: 36px 0;
    padding: 10px;
    width: 50%;
  }

  .search-bar:focus {
    @include placeholder() {
      color: transparent;
    }
  }

  .clear-search {
    bottom: 9px;
    color: $border-color;
    cursor: pointer;
    display: inline-block;
    font-size: 24px;
    position: relative;
    right: 36px;
  }

  .categories {
    box-sizing: border-box;
    display: inline-block;
    float: left;
    height: 100%;
    text-align: left;
    width: 20%;
  }

  h2 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 6px;
  }

  .category {
    padding: 6px 0;

    &:hover {
      text-decoration: underline;
    }
  }

  .no-results {
    display: inline-block;
    font-size: 36px;
    margin: 100px auto;
    text-align: center;
    width: 79%;
  }

  .fundraiser-search-results {
    float: right;
    margin: 0 auto;
    width: 79%;
  }

  .giant-button {
    box-sizing: border-box;
    display: block;
    margin-left: 30%;
    margin-right: 30%;
    width: 40%;
  }
}
