$border-color: rgb(200, 200, 200);
$button-border-color: rgb(182, 227, 201);

.index {
  font-family: 'Lato', sans-serif;
  text-align: center;
  width: auto;

  .tagline {
    font-size: 48px;
    font-weight: 900;
    padding: 24px 0;
  }

  .search-bar {
    border: 1px solid $border-color;
    border-radius: 5px;
    box-shadow: 1px 1px 2px inset;
    font-size: 18px;
    font-weight: 300;
    margin-top: 10px;
    padding: 10px;
    width: 50%;
  }

  .no-results {
    font-size: 36px;
    margin-top: 100px;
  }
}
