// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$box-bg-color: rgb(240, 240, 240);
$button-bg-color: rgb(117, 242, 186);
$button-border-color: rgb(182, 227, 201);
$button-hover-bg-color: rgb(127, 252, 196);
$button-text-color: rgb(250, 250, 250);
$fundraiser-header-bg-color: rgb(191, 255, 234);
$content-bg-color: rgb(250, 250, 250);
$navbar-text-color: rgb(150, 150, 150);
$navbar-bg-color: rgb(245, 245, 245);
$navbar-hover-bg-color: rgb(250, 250, 250);
$form-border-color: rgb(80, 80, 80);
$border-color: rgb(200, 200, 200);

.content {
  margin-top: 30px;
  position: absolute;
  width: 100%;
}

.form {
  display: block;
  font-family: "Lato", sans-serif;
  margin: 0 auto;
  padding: 10px 20px;
  width: 280px;

  input {
    font-weight: 300;
  }

  h1 {
    font-size: 36px;
    font-weight: 900;
    padding: 10px 0;
  }

  img {
    display: inline-block;
    padding: 10px;
  }

  input {
    border: 1px solid $border-color;
    border-radius: 5px;
    box-shadow: 1px 1px 1px inset;
    display: inline-block;
    margin-bottom: 20px;
    padding: 10px;
  }

  textarea {
    border: 1px solid $border-color;
    border-radius: 5px;
    font-weight: 300;
    height: 100px;
    margin-bottom: 20px;
    padding: 10px;
    width: 248px;
  }

  label {
    display: inline-block;
    height: 30px;
    width: 90px;
  }

  .long-label {
    height: auto;
    width: auto;
  }

  button,
  .submit {
    background: $button-bg-color;
    border: 1px solid $button-border-color;
    border-radius: 5px;
    box-shadow: 1px 1px 1px $button-border-color;
    color: $button-text-color;
    display: inline-block;
    font-weight: 400;
    margin-bottom: 20px;
    padding: 10px;

    &:hover {
      background: $button-hover-bg-color;
      color: $button-text-color;
      text-decoration: none;
    }
  }

  .guest-login {
    float: right;
  }

  div span {
    display: block;
  }
}

.donation-form {
  width: 329px;

  .huge-box {
    font-size: 36px;
    font-weight: 700;
    width: 329px;
  }

  textarea {
    width: 329px;
  }
}

.fundraiser {
  font-family: 'Lato', sans-serif;
  position: relative;
  top: 18px;

  .description {
    background-color: $content-bg-color;
    border: 1px solid $border-color;
    border-radius: 5px;
    box-shadow: 1px 1px 3px $border-color;
    display: block;
    padding: 10px;
  }

  .donations {
    background-color: $content-bg-color;
    border: 1px solid $border-color;
    border-radius: 5px;
    box-shadow: 1px 1px 3px $border-color;
    margin: 10px;
    position: relative;

    .num-donations {
      background-color: $fundraiser-header-bg-color;
      border-bottom: 1px solid $border-color;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      color: $navbar-text-color;
      display: block;
      padding: 10px 20px;
    }
  }

  .donation {
    border-bottom: 1px solid $border-color;
    display: block;
    padding: 20px;

    .amount {
      display: inherit;
      font-size: 24px;
    }

    .comment {
      display: inherit;
      padding: 10px 0;
    }

    .donor-name {
      display: inherit;
    }

    .timestamp {
      display: inherit;
      font-size: 8px;
    }

    .small-button {
      background: $button-bg-color;
      border: 1px solid $button-border-color;
      border-radius: 5px;
      color: $button-text-color;
      padding: 5px;
      position: relative;

      &:hover {
        background: $button-hover-bg-color;
        color: $button-text-color;
        text-decoration: none;
      }
    }
  }

  .donation-box {
    background-color: $content-bg-color;
    border: 1px solid $border-color;
    border-radius: 5px;
    box-shadow: 1px 1px 3px $border-color;
    margin: 10px;

    .category {
      background-color: $fundraiser-header-bg-color;
      border-bottom: 1px solid $border-color;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
      color: $navbar-text-color;
      display: block;
      padding: 10px 20px;
      text-align: right;
      width: auto;
    }

    .donation-status {
      margin-bottom: 10px;
      margin-left: 10px;
      position: relative;
      top: -8px;
    }

    .popularity {
      margin-bottom: 10px;
      margin-left: 10px;
      position: relative;
      top: -27px;
    }

    .total-donations {
      font-size: 48px;
      font-weight: 700;
      position: relative;
    }

  }

  .huge-button {
    background: $button-bg-color;
    border: 1px solid $button-border-color;
    border-bottom-width: 3px;
    border-radius: 5px;
    color: $button-text-color;
    display: block;
    font-size: 30px;
    font-weight: 700;
    margin: 10px auto;
    padding: 10px 20px;
    position: relative;
    text-align: center;
    top: -20px;
    width: 80%;

    &:hover {
      background: $button-hover-bg-color;
      color: $button-text-color;
      text-decoration: none;
    }
  }

  .goal {
    background-color: $content-bg-color;
    display: inline-block;
    margin-left: 5px;
    margin-bottom: 10px;
    position: relative;
  }

  .recipient {
    background-color: $content-bg-color;
    box-shadow: 1px 1px 3px $border-color;
    display: inline-block;
    margin: 10px;
    margin-left: 0;
    padding: 10px 20px;
    position: relative;
  }

  h1 {
    font-size: 36px;
    font-weight: 900;
    padding-top: 10px;
    text-align: center;
    width: 100%;
  }

  img {
    height: auto;
    width: 100%;
  }

  .main {
    box-sizing: border-box;
    float: left;
    padding: 10px;
    width: 60%;
  }

  .recipient {
    border: 1px solid $border-color;
    border-radius: 5px;
    display: block;
    margin: 10px;
  }

  .sidebar {
    float: right;
    width: 40%;
  }
}

.fundraiser-index-item {
  background-color: $box-bg-color;
  border: 1px solid $border-color;
  border-radius: 5px;
  box-shadow: 1px 1px 3px $border-color;
  display: inline-block;
  height: 180px;
  margin: 10px;
  margin-top: 20px;
  width: 300px;

  &:hover {
    background-color: $navbar-hover-bg-color;
  }

  a {
    font-family: 'Lato', sans-serif;

    &:hover {
      text-decoration: underline;
    }
  }

  img {
    height: 120px;
    margin: auto;
    padding: 10px;
    width: 150px;
  }

  section {
    display: inline-block;
    float: left;
    font-family: 'Lato', sans-serif;
    padding: 0px 10px;
  }

  .goal {
    float: right;
  }
}

.index {
  font-family: 'Lato', sans-serif;
  text-align: center;
  width: auto;

  .giant-button {
    background: $button-bg-color;
    border: 1px solid $button-border-color;
    border-bottom-width: 3px;
    border-radius: 5px;
    color: $button-text-color;
    display: inline-block;
    font-size: 30px;
    font-weight: 700;
    padding: 10px 20px;

    &:hover {
      background: $button-hover-bg-color;
      color: $button-text-color;
      text-decoration: none;
    }
  }

  .tagline {
    font-size: 48px;
    font-weight: 900;
    margin: 20px;
  }

  .search-bar {
    border: 1px solid $border-color;
    border-radius: 5px;
    box-shadow: 1px 1px 2px inset;
    font-size: 18px;
    font-weight: 300;
    margin-top: 10px;
    padding: 10px;
    width: 50%;
  }
}

.my-fundraisers {
  font-family: 'Lato', sans-serif;
  margin-top: 18px;

  header {
    display: inline-block;
    width: 100%
  }

  h1 {
    display: inline-block;
    font-size: 36px;
    font-weight: 900;
    padding: 10px;
  }

  .button,
  button {
    background-color: $button-bg-color;
    border: 1px solid $button-border-color;
    border-radius: 5px;
    box-shadow: 1px 1px 2px $border-color;
    color: $button-text-color;
    display: inline-block;
    float: right;
    margin: 10px;
    padding: 10px 20px;

    &:hover {
      background: $button-hover-bg-color;
      color: $button-text-color;
      text-decoration: none;
    }
  }

  .fundraiser-link {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;

    &:hover {
      text-decoration: underline;
    }
  }

  div {
    display: inline;
  }

  li {
    background-color: $content-bg-color;
    border: 1px solid $border-color;
    border-radius: 5px;
    box-shadow: 1px 1px 2px $border-color;
    margin: 10px;
  }
}

.navbar {
  background: $navbar-bg-color;
  border-top: 5px solid $button-bg-color;
  box-shadow: 1px 1px 3px $border-color;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 9999;

  a,
  button {
    border: 0;
    color: $navbar-text-color;
    display: inline-block;
    float: left;
    padding: 10px 20px;



    &:hover {
      background: $navbar-hover-bg-color;
      color: $navbar-text-color;
      text-decoration: none;
    }
  }

  .bank {
    border: 0;
    color: $navbar-text-color;
    display: inline-block;
    float: right;
    padding: 10px 20px;

    span {
      color: inherit;
    }

    &:hover {
      background: $navbar-hover-bg-color;
      color: $navbar-text-color;
      text-decoration: none;
    }
  }

  .auth{
    float: right;
  }
}
